.firebase
.git
.github
.env
.env.*
coverage
docker/firebase-emulator/data
firebase-debug.log
firebase-debug.*.log
npm-debug.log
yarn-error.log


!ml/
!ml/prediction_service/
!ml/prediction_service/app.py
!ml/prediction_service/main.py
!ml/prediction_service/requirements.txt
